body {
    background-image: url("backgrounds.jpg");
    background-position: center;
    background-size: cover;
}

h4 {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

b {
    color: red;
}

canvas {
    background-image: url("racing.jpg");
    background-position: center;
}